// tslint:disable
/* eslint-disable */
{{>licenseInfo}}
import { RequestInit } from "apollo-server-env";

export interface Configuration {
    /**
     * parameter for apiKey security
     *
     * @param name security name
     */
    apiKey?: string | ((name: string) => Promise<string>);
    /**
     * parameter for basic security
     */
    username?: string;
    /**
     * parameter for basic security
     */
    password?: string;
    /**
     * parameter for oauth2 security
     *
     * @param name security name
     * @param scopes oauth2 scope
     */
    accessToken?: string | ((name: string, scopes?: ReadonlyArray<string>) => Promise<string>);
    /**
     * override base path
     */
    basePath?: string;
    fetchOptions?: RequestInit;
}
